body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-color: white !important;
  color: #4A82B1;
}

#body_content {
  margin-left: 296px;
  padding: 10px;
  width: 970px;
  border-left: 1px solid #9F7174;
  border-right: 1px solid #9F7174;
}

h1 {
  text-align: center;
}

#winners {
  border-collapse: collapse;
  width: 100%;
  font-size: 18pt;
}

#winners tr:hover {
  background-color: #4A82B1;
  color: white;
}

#winners td {
  padding: 3px;
  width: 50%;
}

#winners td.year {
  text-align: center;
}

.note {
  font-style: italic;
  color: #9F7174;
}
